/**********************************************
        Fonts and others
**********************************************/


@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


/**********************************************
        Navbar Hamburger Animation
**********************************************/
.hamburger-animated{
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    border: none;
}
    
.hamburger-animated span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    border: none;
}
.navbar-toggle , .navbar-toggler:focus, .navbar-toggler:active {
    outline: none !important;
    box-shadow: none;
    border: none !important;
  }
.hamburger-animated span {
    background:  #d40303;
}
    
.hamburger-animated span:nth-child(1) {
    top: 0px;
}
    
.hamburger-animated span:nth-child(2) {
    top: 10px;
}
    
.hamburger-animated span:nth-child(3) {
    top: 20px;
}
    
.hamburger-animated.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.hamburger-animated.open span:nth-child(2) {
    top: -200px !important;
}
    
.hamburger-animated.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
/**********************************************
            Navbar
**********************************************/
.navbar-brand, .nav-link{
color: white !important;
transition: 0.4s ease;
}
.navbar-brand{
    border-left: 4px solid #d40303;
    padding-left: 10px;
    padding-bottom: 10px;
}
.navbar{
    position: fixed;
    top: 0px ;
    width: 100% ;
    padding-bottom :10px !important;
    background-color: #071013;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-link{
    text-transform: uppercase;
    padding-left:15px !important;
    padding-right: 15px !important;
    letter-spacing: 1.2px;
}
.nav-link:hover{
    padding-right: 30px !important;
    padding-left: 30px !important;
    transition: 0.4s ease;
    box-shadow: 0px 1.4px 0px 0px #d40303;

}
/**********************************************
            Body
**********************************************/
body{
    overflow:hidden;
}
.main {
    background-position: center center !important;
    padding-top: 60px;
    height: 100vh;
    width: 100vw;
    background: url(../img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#071013;
    background-position: fixed;
}
.heading-div{
    height: 100vh;
}
.heading{
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    padding-left: 100px;
}
.heading h1{
    font-family: 'Poppins', sans-serif;
    font-size: 65px;
    font-weight: 600;
}
.heading span{
    color: #d40303;
}
.heading button{
    font-size: 25px;
    margin-top: 20px;
    outline: none;
    border: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-1{
    color: white;
    background: #071013;
    transition: 0.7s ease all;
}
.btn-2{
    color: white;
    background: #d40303;
    transition: 0.7s ease all;
}
.btn-1:hover{
    background:rgb(243, 243, 243);
    color: #071013;
}
.btn-2:hover{
    background: rgb(243, 243, 243);
    color:#d40303;
}
@media(max-width:676px)
{
    .heading{
        padding-left: 20px;
    }
    .heading h1{
        font-family: 'Poppins', sans-serif;
        font-size: 53px;
        font-weight: 600;
    }
    .heading button{
        font-size: 15px;
        margin-top: 8px;
        padding: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}